.link {
    background-color: #3a25fa;
}

.language-link::after {
    content: ".";
    height: 4px;
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    transform: translateY(-100%)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .limit-width {
        @apply 2xl:max-w-5xl 2xl:mx-auto
    }
}